<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarBoard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>245A99B92F62C28B00C22BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>245A99C62F62C28C00C22BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>245A99D02F62C28C00C22BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
